.leftSidebar {
  flex: 2.5;
  height: 100vh;
  overflow-y: scroll;
  background-color: #F2F3F5;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftSidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.leftSidebarContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.leftSidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftSidebarListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 33px;
  border-radius: 5px;
  margin-bottom: 6px;
  padding-left: 7px;
  background-color: #14AA52;
  cursor: pointer;
}

.leftSidebarIcon {
  color: #FFFFFF;
  margin-left: 10px;
  user-select: none;
}

.leftSidebarListItemText {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  user-select: none;
}

.leftSidebarButton {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #00684A;
  color: #FFFFFF;
  cursor: pointer;
}

.leftSidebarButton:hover {
  background-color: #007A57;
}

.leftSidebarDivider {
  border-top: 1px solid hsla(210,calc(var(--saturation-factor, 1)*2.9%),86.7%,.6);
  margin: 20px 0;
}

.leftSidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftSidebarPanel {
  display: flex;
  bottom: 0;
  position: sticky;
  padding: 6px 0 3px 0;
  background-color: #EBEDEF;
}

.leftSidebarPanelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 8px;
}

.leftSidebarPanelAvatarWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  height: 41px;
  width: 100%;
  margin-right: 8px;
  cursor: pointer;
}

.leftSidebarPanelAvatarWrapper:hover {
  background-color: #D9DEE2;
}

.leftSidebarPanelAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}

.leftSidebarPanelAvatarIcon {
  font-size: 35px;
  color: #4F5660;
  user-select: none;
}

.leftSidebarPanelAvatarNameTag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSidebarPanelAvatarName {
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  color: #060607;
}

/* .leftSidebarPanelAvatarUserId {
  font-size: 13px;
  color: #4F5660;
  user-select: none;
} */

.leftSidebarPanelIcons {
  display: flex;
  align-items: flex-end;
}

.leftSidebarPanelIconItem {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  color: #4F5660;
  cursor: pointer;
}

.leftSidebarPanelIconItem:hover {
  background-color: #D9DEE2;
}