.leftSidebarFriend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 33px;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 7px;
  cursor: pointer;
}

.leftSidebarFriend:hover {
  background-color: #D9DEE2;
}

.leftSidebarFriendName {
  user-select: none;
}

/* .leftSidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
} */
